.section-search{
    margin: auto;
    width: 56%;
    padding: 10px;
}

.form-search {
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: #f8f7f7;
    border: none;
}

::placeholder {
    color: #A9A9A9;
    font-weight: 300;
    font-size:20px;
    display: flex;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    opacity: 1; /* Firefox */
}

input[type="text"]
{
    font-size:20px;
    color: #A9A9A9;
}