.btn-area {
    float: right;
    width: 100px;
    padding: 10px;
}

.btn-plus {
    width: 75px;
    height: 75px;
    font-size: 50px;
    align-items: center;
    border-radius: 50%;
    background-color: #BDE4FF;
    border-color: transparent;
    color: #000000;
    transition-duration: 0.4s;
}
 
.btn-plus:hover {
    background-color: #99DBFF; /* Green */
    color: white;
}