.item-lista {
  list-style-type: none;
  background-color: #c5b9ef;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.justify-between {
  font-size: 20px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-icon {
  font-weight: 450;
  color: #b3e59f;
  margin-left: 25px;
  text-shadow: 2px 2px 2px #ffffff;
}

.cross-icon {
  font-weight: 450;
  color: #e5646e;
  text-shadow: 1px 1px 2px#4a4848;
  justify-content: center;
  margin-right: 25px;
}

.p-text {
  font-family: 'Red Hat Display', sans-serif;
  margin: 10px;
  padding: 5px;
  color: #000000;
  font-weight: 500;
}

.completado {
  font-family: 'Red Hat Display', sans-serif;
  margin: 10px;
  padding: 5px;
  color: #585555;
  font-weight: 500;
  text-decoration: line-through;
}

.p-number-index {
  font-family: 'Red Hat Display', sans-serif;
  color: #e8e8e8;
  font-weight: 300;
}
